{% extends 'developer_auth/docs_base.html' %}

{% block title %}
    Overview
{% endblock %}

{% block content %}
<div class="px-8 mt-8">

    <p class="text-2xl">Product Enpoint</p>
    <p class="text-xl">Details:</p>
    <p class="text-md text-gray-500">This explains the everythin about the product endpoint.</p>
    <p class="text-xl mt-8">Response Schema: application/json</p>
    <div class="flex flex-col border-1 px-1">
        <div class="flex flex-row">
            <div class="w-1/3 mx-2">
                <p class="break-all">id</p>
            </div>
            <div class="w-full pl-3 flex flex-col justify-center">  
                <p class="font-light italic">Integer</p>
                <p>A unique identifier for the product.</p>
                <div class="divider"></div>
            </div>
        </div>

        <div class="flex flex-row">
            <div class="w-1/3 mx-2">
                <p class="break-all">reviews</p>
            </div>
            <div class="w-full pl-3 flex flex-col justify-center">
                <p class="font-light italic">Array object</p>
                <p>List of reviews associated with the product.</p>
                <div class="divider"></div>
            </div>

        </div>
        

        <div class="flex flex-row">
            <div class="w-1/3 mx-2">
                <p class="break-all">images</p>
            </div>
            <div class="w-full pl-3 flex flex-col justify-center">
                <p class="font-light italic">Array</p>
                <p>List of images associated with the product.</p>
                <div class="divider"></div>
            </div>
        </div>

        <div class="flex flex-row">
            <div class="w-1/3 mx-2">
                <p class="break-all">category_name</p>
            </div>
            <div class="w-full pl-3 flex flex-col justify-center">
                <p class="font-light italic">String</p>
                <p>Name of the category the product belongs to.</p>
                <div class="divider"></div>
            </div>
        </div>

        <div class="flex flex-row">
            <div class="w-1/3 mx-2">
                <p class="break-all">avegrage_rating</p>
            </div>
            <div class="w-full pl-3 flex flex-col justify-center">
                <p class="font-light italic">String</p>
                <p>Average customer rating for the product.</p>
                <div class="divider"></div>
            </div>
        </div>

        <div class="flex flex-row">
            <div class="w-1/3 mx-2">
                <p class="break-all">total_reviews</p>
            </div>
            <div class="w-full pl-3 flex flex-col justify-center">
                <p class="font-light italic">String</p>
                <p>Total number of reviews for the product.</p>
                <div class="divider"></div>
            </div>
        </div>

        <div class="flex flex-row">
            <div class="w-1/3 mx-2">
                <p class="break-all">name</p>
            </div>
            <div class="w-full pl-3 flex flex-col justify-center">
                <p class="font-light italic">String</p>
                <p>Name of the product.</p>
                <div class="divider"></div>
            </div>
        </div>

        <div class="flex flex-row">
            <div class="w-1/3 mx-2">
                <p class="break-all">description</p>
            </div>
            <div class="w-full pl-3 flex flex-col justify-center">
                <p class="font-light italic">String</p>
                <p>Detailed descripition of the product.</p>
                <div class="divider"></div>
            </div>
        </div>

        <div class="flex flex-row">
            <div class="w-1/3 mx-2">
                <p class="break-all">slug</p>
            </div>
            <div class="w-full pl-3 flex flex-col justify-center">
                <p class="font-light italic">String(^[-a-zA-Z0-9_]+$)</p>
                <p>RL-friendly identifier for the product.</p>
                <div class="divider"></div>
            </div>
        </div>

        <div class="flex flex-row">
            <div class="w-1/3 mx-2">
                <p class="break-all">price</p>
            </div>
            <div class="w-full pl-3 flex flex-col justify-center">
                <p class="font-light italic">decimal(^-?\d{0,8}(?:\.\d{0,2})?$)</p>
                <p>Price of the product.</p>
                <div class="divider"></div>
            </div>
        </div>

        <div class="flex flex-row">
            <div class="w-1/3 mx-2">
                <p class="break-all">stock_quantity</p>
            </div>
            <div class="w-full pl-3 flex flex-col justify-center">
                <p class="font-light italic">Integer(int64)</p>
                <p>Quantity of the product available in stock.</p>
                <div class="divider"></div>
            </div>
        </div>

        <div class="flex flex-row">
            <div class="w-1/3 mx-2">
                <p class="break-all">created_date</p>
            </div>
            <div class="w-full pl-3 flex flex-col justify-center">
                <p class="font-light italic">String(date-time)</p>
                <p>Timestamp when the product was created.</p>
                <div class="divider"></div>
            </div>
        </div>

        <div class="flex flex-row">
            <div class="w-1/3 mx-2">
                <p class="break-all">category</p>
            </div>
            <div class="w-full pl-3 flex flex-col justify-center">
                <p class="font-light italic">Integer</p>
                <p>ID of the category the product belongs to.</p>
                <div class="divider"></div>
            </div>
        </div>

    </div>
    
    <p class="text-xl mt-8">Request Schema:</p>
    <div class="flex flex-col border-1 px-1">
        <div class="flex flex-row">
            <div class="w-1/3 mx-2">
                <p class="break-all">id</p>
            </div>
            <div class="w-full pl-3 flex flex-col justify-center">  
                <p class="font-light italic">Integer</p>
                <p>A unique identifier for the product.</p>
                <div class="divider"></div>
            </div>
        </div>

        <div class="flex flex-row">
            <div class="w-1/3 mx-2">
                <p class="break-all">images</p>
            </div>
            <div class="w-full pl-3 flex flex-col justify-center">
                <p class="font-light italic">Array</p>
                <p>List of images associated with the product.</p>
                <div class="divider"></div>
            </div>
        </div>

        <div class="flex flex-row">
            <div class="w-1/3 mx-2">
                <p class="break-all">name</p>
                <p class="italic">(<span class="text-red-500">Required</span>)</p>
            </div>
            <div class="w-full pl-3 flex flex-col justify-center">
                <p class="font-light italic">String</p>
                <p>Name of the product.</p>
                <div class="divider"></div>
            </div>
        </div>

        <div class="flex flex-row">
            <div class="w-1/3 mx-2">
                <p class="break-all">description</p>
                <p class="italic">(<span class="text-red-500">Required</span>)</p>
            </div>
            <div class="w-full pl-3 flex flex-col justify-center">
                <p class="font-light italic">String</p>
                <p>Detailed descripition of the product.</p>
                <div class="divider"></div>
            </div>
        </div>

        <div class="flex flex-row">
            <div class="w-1/3 mx-2">
                <p class="break-all">slug</p>
            </div>
            <div class="w-full pl-3 flex flex-col justify-center">
                <p class="font-light italic">String(^[-a-zA-Z0-9_]+$)</p>
                <p>URL-friendly identifier for the product. It is automatically generated based on the product name but can be manually provided for customization (e.g., for SEO purposes). If provided, it must be unique and adhere to the specified pattern.</p>
                <div class="divider"></div>
            </div>
        </div>

        <div class="flex flex-row">
            <div class="w-1/3 mx-2">
                <p class="break-all">price</p>
                <p class="italic">(<span class="text-red-500">Required</span>)</p>
            </div>
            <div class="w-full pl-3 flex flex-col justify-center">
                <p class="font-light italic">decimal(^-?\d{0,8}(?:\.\d{0,2})?$)</p>
                <p>Price of the product.</p>
                <div class="divider"></div>
            </div>
        </div>

        <div class="flex flex-row">
            <div class="w-1/3 mx-2">
                <p class="break-all">stock_quantity</p>
                <p class="italic">(<span class="text-red-500">Required</span>)</p>
            </div>
            <div class="w-full pl-3 flex flex-col justify-center">
                <p class="font-light italic">Integer(int64)</p>
                <p>Quantity of the product available in stock.</p>
                <div class="divider"></div>
            </div>
        </div>

        <div class="flex flex-row">
            <div class="w-1/3 mx-2">
                <p class="break-all">category</p>
                <p class="italic">(<span class="text-red-500">Required</span>)</p>
            </div>
            <div class="w-full pl-3 flex flex-col justify-center">
                <p class="font-light italic">Integer</p>
                <p>ID of the category the product belongs to.</p>
                <div class="divider"></div>
            </div>
        </div>

    </div>
    

</div>
{% endblock %}