{% extends 'developer_auth/docs_base.html' %}

{% block title %}
    API KEY
{% endblock %}

{% block content %}
<form hx-post="{% url 'create-api-key' %}" hx-target="#modal-content" method="post">
    {% csrf_token %}
    <input name="api_key_name" type="text" placeholder="Enter your API key name" class="input input-bordered">
    <button class="btn btn-primary" type="submit">Generate API key</button>
</form>

<dialog id="my_modal_4" class="modal">
    <div class="modal-box w-11/12 max-w-5xl">
        <h3 class="text-lg font-bold">Generated API Key</h3>
        <div id="modal-content">
            <!-- API key content will be swapped here -->
             {{key}}
        </div>
        <div class="modal-action">
            <button class="btn" onclick="document.getElementById('my_modal_4').close()">Close</button>
        </div>
    </div>
</dialog>

<script>
    document.addEventListener('htmx:afterRequest', function (event) {
        if (event.target.id === 'modal-content') {
            document.getElementById('my_modal_4').showModal();
        }
    });
</script>
{% endblock %}