{% extends 'developer_auth/docs_base.html' %}

{% block title %}
    Documentation(End points)
{% endblock %}

{% block content %}
<!-- <div class=" h-screen relative w-full"> -->
    <div class="px-8 flex flex-col">

    <p class="text-3xl mt-10 font-extrabold">Authentication</p>
    <p class="mt-4 text-justify font-semibold lg:text-lg text-gray-800">Our API uses API Key authentication to secure access. Each developer must generate an API key after signing up and use it to authenticate requests. The API key should be passed as a header <strong>(API-Key)</strong> in every request. Ensure your API key is kept confidential and not exposed in public code repositories. 
        An API Key is needed to access the all the endpoints. Obtain one from <a class="link link-primary" href="{% url 'create-api-key' %}">here</a>
    </p>

    <div class="mockup-code w-full mt-8">
        <pre>Python</pre>
        <pre><code class="language-python">
        import requests        
        
        url = "https://api.example.com/products"
        headers = {
            "API-KEY": "YOUR_API_KEY",
        }
        </code></pre>
    </div>
    <div class="mockup-code w-full mt-8">
        <pre>Sh</pre>
        <pre><code class="language-python">
        curl -X GET "https://api.example.com/products" \
        -H "API-KEY: YOUR_API_KEY" \
        -H "Content-Type: application/json"
        </code></pre>
    </div>

    
    </div>
    {% with prev_page='prerequisite' prev_page_name='Prerequisite' next_page='implementation' next_page_name='Implementation' %}
    
    {% include 'developer_auth/bottom_nav.html' %}

    {% endwith %}
<!-- 
</div> -->
{% endblock %}