{% extends 'developer_auth/docs_base.html' %}

{% block title %}
    Documentation(End points)
{% endblock %}

{% block content %}
<div class="px-8 flex flex-col">

    <p class="mt-12 text-justify font-semibold lg:text-lg text-gray-800">
        Welcome to the API documentation! This API is the result of my dedication and continuous learning, combining everything I've explored in development to create a robust and versatile platform. It is designed to simplify e-commerce operations, providing an efficient way to manage products, carts, and orders. Built with performance and ease of integration in mind, this API enables developers to seamlessly incorporate essential functionalities into their applications. Explore the documentation to see how it works and how it can enhance your projects.    </p>
    <p class="text-3xl mt-10 font-extrabold">Key Features</p>
    <p class="font-gray-400 text-gray-400 text-sm"></p>
    <ul class="mt-4 list-disc list-inside font-semibold lg:text-lg text-gray-800">
        <li>Comprehensive CRUD operations for products, categories, and reviews</li>
        <li>Efficient Cart management system</li>
        <li>Seamless Order creation and processing</li>
    </ul>    
</div>

    {% with next_page='prerequisite' next_page_name='Prerequisite' %}
        
        {% include 'developer_auth/bottom_nav.html' %}

    {% endwith %}
{% endblock %}