{% extends 'developer_auth/docs_base.html' %}

{% block title %}
    Prerequisite
{% endblock %}

{% block content %}
<div class="px-8 flex flex-col">
    <p class="text-3xl mt-10 font-extrabold">Prerequisite</p>
    <p class="mt-4 text-justify font-semibold lg:text-lg text-gray-800">To use this API, developers must implement a user model in their application. This is necessary for endpoints requiring a <strong>user_id</strong> parameter, which allows actions or data to be associated with specific users. Each user in the developer’s application should have a unique identifier, enabling seamless integration and proper functionality with the API. This prerequisite ensures user-related operations are executed accurately within the API.</p>
</div>
    {% with prev_page='docs' prev_page_name='Overview' next_page='authentication' next_page_name='Authentication' %}
        
        {% include 'developer_auth/bottom_nav.html' %}

    {% endwith %}

{% endblock %}