{% extends 'developer_auth/docs_base.html' %}

{% block title %}
    Prerequisite
{% endblock %}

{% block content %}
<div class="px-8 h-svh">
    <p class="text-3xl mt-10 font-extrabold">Prerequisite</p>
    <p class="mt-4 text-justify">To use this API, developers must implement a user model in their application. This is necessary for endpoints requiring a <strong>user_id</strong> parameter, which allows actions or data to be associated with specific users. Each user in the developer’s application should have a unique identifier, enabling seamless integration and proper functionality with the API. This prerequisite ensures user-related operations are executed accurately within the API.</p>

    <div class="flex justify-between items-center" style="margin-top: 20%;" hx-boost="true">
        <a href="{% url 'docs' %}" class="btn">
            <div class="flex flex-row">
                <label class="flex items-center pr-2">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5 8.25 12l7.5-7.5" />
                    </svg>
                </label>
                <div class="flex flex-col items-center">
                    <span class="text-sm text-gray-500 w-full text-start">
                        prev
                    </span>
                    <span>
                        overview
                    </span>
                </div>
            </div>
        </a>

        <a href="{% url 'authentication' %}" class="btn">
            <div class="flex flex-row">
                <div class="flex rounded flex-col items-center pr-2">
                    <span class="text-sm text-gray-500 w-full text-end">
                        next
                    </span>
                    <span>
                        Authentication
                    </span>
                </div>
                <label class="flex items-center">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" />
                    </svg>
                </label>
            </div>
        </a>
    </div>
</div>
{% endblock %}