{% extends 'developer_auth/docs_base.html' %}

{% block title %}
    Support And Feedback
{% endblock %}

{% block content %}
<div class="px-8 relative w-full h-screen">

<div class="flex justify-between items-center" style="margin-top: 20%;" hx-boost="true">
    <a href="{% url 'implementation' %}" class="btn">
        <div class="flex flex-row">
            <label class="flex items-center pr-2">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5 8.25 12l7.5-7.5" />
                </svg>
            </label>
            <div class="flex flex-col items-center">
                <span class="text-sm text-gray-500 w-full text-start">
                    prev
                </span>
                <span>
                    Showcase
                </span>
            </div>
        </div>
    </a>

</div>

</div>
{% endblock %}