{% extends 'developer_auth/docs_base.html' %}

{% block title %}
    Create Review
{% endblock %}


{% block content %}

<div class="px-8">
    <div class="my-20 space-y-2"  id="cr-re">
        <p class="text-2xl">Create a review</p>
        <div class="flex items-center">
            <p class="text-xl">URL: </p>
            <p class="bg-base-200 rounded-md p-2 mx-2 truncate font-mono font-semibold">
                <code>https://E-commerceAPI.com/api/products/&lt;slug:slug&gt;/reviews/create/</code>
            </p>
        </div>
        <div class="flex items-center">
            <p class="text-xl">Methods: </p>
            <p class="bg-base-200 rounded-md p-2 mx-2  font-mono font-semibold">POST</p>
        </div>
        <p class="text-xl">Authentication: </p>
        
            <div class="mockup-code w-full mt-8">
                <pre><code>API-Key: {your-APIKEY}</code></pre>
            </div>
        
        <p class="text-xl">Request Body: </p>
            <div class="mockup-code w-full mt-8">
                <pre>
                    <code>
    {
        "user_id": 1,
        "username": "...",
        "rating": 1,
        "comment": "...",
        "product": 1
    }
                    </code>
                </pre>
        </div>
        <p class="text-xl">Response: </p>
        <div class="flex items-center">
            <p class="p-2 text-md">Status Code:<span class="bg-green-200 rounded-md p-2 mx-2 text-md font-semibold">201 Created</span></p>
        </div>
    
        <div class="mockup-code w-full mt-8">
        <div class="collapse collapse-arrow bg-inherit">
            <input type="checkbox" />
            <div class="collapse-title text-md font-medium">Response Body</div>
            <div class="collapse-content overflow-auto">
                <pre>
                    <code>
    {
        "user_id": 1,
        "username": "...",
        "rating": 4,
        "comment": "...",
        "product": 1
    }                      
                    </code>
                </pre>
            </div>
        </div>
        </div>
    </div>
</div>
    {% with prev_page='review-overview' prev_page_name='Review Overview' next_page='review-get-one' next_page_name='Get Review' %}
            
        {% include 'developer_auth/bottom_nav.html' %}

    {% endwith %}

{% endblock %}