{% extends 'developer_auth/docs_base.html' %}

{% block title %}
    Cart Endpoints
{% endblock %}


{% block content %}

<div class="px-8">
    <div class="my-20 space-y-2" id="get-re">
        <p class="text-2xl">Get all reviews for a product</p>
        <div class="flex items-center">
            <p class="text-xl">URL: </p>
            <p class="bg-base-200 truncate rounded-md p-2 mx-2 font-semibold">
                <code>https://E-commerceAPI.com/api/products/&lt;slug:slug&gt;/reviews/</code>
            </p>
        </div>
        <div class="flex items-center">
            <p class="text-xl">Methods: </p>
            <p class="bg-base-200 rounded-md p-2 mx-2 font-mono font-semibold">GET</p>
        </div>
        <p class="text-xl">Authentication: </p>
        
        <div class="collapse collapse-arrow bg-base-200">
            <input type="checkbox" />
            <div class="collapse-title text-md font-medium">Headers</div>
            <div class="collapse-content overflow-auto">
                <pre><code>API-Key: {your-APIKEY}</code></pre>
            </div>
        </div>
        <p class="text-xl">Response: </p>
        <div class="flex items-center">
            <p class="p-2 text-md">Status Code:<span class="bg-green-200 rounded-md p-2 mx-2 text-md font-semibold">200 OK</span></p>
        </div>
    
        <div class="collapse collapse-arrow bg-base-200">
            <input type="checkbox" />
            <div class="collapse-title text-md font-medium">Response Body</div>
            <div class="collapse-content overflow-auto">
                <pre>
                    <code>
    [
    {
    "id": 1,
    "created_at": "17 January 2025",
    "user_id": 1,
    "username": "...",
    "rating": 4,
    "comment": "...",
    "product": 1
    },
    {
    "id": 1,
    "created_at": "17 January 2025",
    "user_id": 1,
    "username": "...",
    "rating": 4,
    "comment": "...",
    "product": 1
    }
    ]                      
                    </code>
                </pre>
            </div>
        </div>
    </div>
</div>

{% endblock %}