{% extends 'webapp/base.html' %}

{% block title %}
    Reviews
{% endblock %}

{% block content %}

<div class="container mx-auto p-4">
    {% if reviews %}
    <ul class="-my-6 divide-y divide-gray-200">
        {% for review in reviews %}
            <li>
                    <div class="flex flex-col lg:flex-row py-6 pr-6">
                        <div class="flex lg:flex-col flex-row">
                            <div class="flex lg:flex-col p-2">
                                <div class="avatar">
                                        <div class="w-16 h-16 rounded-full">
                                            <img src="https://img.daisyui.com/images/stock/photo-1534528741775-53994a69daeb.webp" alt="Profile Picture">
                                        </div>
                                </div>
                            </div>
                            <div class="flex flex-col">
                                <p class="text-xl text-gray-950">{{ review.username }}</p>
                                <div class="rating rating-sm mt-1">
                                    {% for i in '12345'|make_list %}
                                        {% if forloop.counter <= review.rating %}
                                            <input type="radio" name="rating-{{review.id}}" class="mask mask-star-2 bg-yellow-400" checked disabled />
                                        {% else %}
                                            <input type="radio" name="rating-{{review.id}}" class="mask mask-star-2 bg-gray-450" disabled />
                                        {% endif %}
                                    {% endfor %}
                                </div>
                                <p class="font-extralight text-slate-300 text-sm mt-1"> {{ review.created_at }} </p>
                            </div>
                        </div>
                        <div class="flex flex-col">
                            <p class="ml-4">{{ review.comment }}</p>
                        </div>
                    </div>
                     
            </li>
        {% endfor %}
    </ul>

    {% else %}
    <p class="text-center text-xl">No Reviews yet 🗑️</p>
    {% endif %}
</div>

{% endblock %}