{% extends 'developer_auth/docs_base.html' %}

{% block title %}
    Cart Endpoints
{% endblock %}


{% block content %}

<div class="px-8">
    <div class="my-20 space-y-2"  id="cr-ord">
        <p class="text-2xl">Create an Order</p>
        <div class="flex items-center">
            <p class="text-xl">URL: </p>
            <p class="bg-base-200 rounded-md p-2 mx-2 truncate font-mono font-semibold">
                <code>https://E-commerceAPI.com/api/orders/create/</code>
            </p>
        </div>
        <div class="flex items-center">
            <p class="text-xl">Methods: </p>
            <p class="bg-base-200 rounded-md p-2 mx-2  font-mono font-semibold">POST</p>
        </div>
        <p class="text-xl">Authentication: </p>
        
        <div class="collapse collapse-arrow bg-base-200">
            <input type="checkbox" />
            <div class="collapse-title text-md font-medium">Headers</div>
            <div class="collapse-content overflow-auto">
                <pre><code>API-Key: {your-APIKEY}</code></pre>
            </div>
        </div>
        <p class="text-xl">Parameters(Query Params): </p>
            <div class="bg-base-200 p-4 rounded-2xl overflow-auto">
                <pre><code>user_id: {request.user.id}</code></pre>
            </div>
        <p class="text-xl">Request Body: </p>
            <div class="bg-base-200 p-4 rounded-2xl overflow-auto">
                <pre>
                    <code>
    {
    "cart": {cart id}
    }
                    </code>
                </pre>
        </div>
        <p class="text-xl">Response: </p>
        <div class="flex items-center">
            <p class="p-2 text-md">Status Code:<span class="bg-green-200 rounded-md p-2 mx-2 text-md font-semibold">201 Created</span></p>
        </div>
    
        <div class="collapse collapse-arrow bg-base-200">
            <input type="checkbox" />
            <div class="collapse-title text-md font-medium">Response Body</div>
            <div class="collapse-content overflow-auto">
                <pre>
                    <code>
    {
    "message": "Order created successfully.",
    "order_id": 1,
    "total_price": 200.0
    }                      
                    </code>
                </pre>
            </div>
        </div>
    </div>
</div>

{% endblock %}