{% extends 'developer_auth/docs_base.html' %}

{% block title %}
    Overview
{% endblock %}

{% block content %}
<div class="px-8 mt-8">

    <p class="text-2xl">Order Enpoint</p>
    <p class="text-xl">Details:</p>
    <p class="text-md text-gray-500">This explains the everythin about the order endpoint.</p>
    <p class="text-xl mt-8">Response Schema: application/json</p>
    <div class="flex flex-col border-1 px-1">
        <div class="flex flex-row">
            <div class="w-1/3 mx-2">
                <p class="break-all">id</p>
            </div>
            <div class="w-full pl-3 flex flex-col justify-center">  
                <p class="font-light italic">Integer</p>
                <p>A unique identifier for the order.</p>
                <div class="divider"></div>
            </div>
        </div>

        <div class="flex flex-row">
            <div class="w-1/3 mx-2">
                <p class="break-all">items</p>
            </div>
            <div class="w-full pl-3 flex flex-col justify-center">
                <p class="font-light italic">Array</p>
                <p>An object of the items in the order.</p>
                <div class="divider"></div>
            </div>
        </div>

        <div class="flex flex-row">
            <div class="w-1/3 mx-2">
                <p class="break-all">item_count</p>
            </div>
            <div class="w-full pl-3 flex flex-col justify-center">
                <p class="font-light italic">String</p>
                <p>Number of items/products in the order.</p>
                <div class="divider"></div>
            </div>
        </div>

        <div class="flex flex-row">
            <div class="w-1/3 mx-2">
                <p class="break-all">created_at</p>
            </div>
            <div class="w-full pl-3 flex flex-col justify-center">
                <p class="font-light italic">String(date-time)</p>
                <p>Timestamp when the order was created.</p>
                <div class="divider"></div>
            </div>
        </div>

        <div class="flex flex-row">
            <div class="w-1/3 mx-2">
                <p class="break-all">user_id</p>
            </div>
            <div class="w-full pl-3 flex flex-col justify-center">
                <p class="font-light italic">Integer(int64)</p>
                <p>The unique User to whom the order is for.</p>
                <div class="divider"></div>
            </div>
        </div>

        <div class="flex flex-row">
            <div class="w-1/3 mx-2">
                <p class="break-all">total_price</p>
            </div>
            <div class="w-full pl-3 flex flex-col justify-center">
                <p class="font-light italic">decimal(^-?\d{0,8}(?:\.\d{0,2})?$)</p>
                <p>Total price of the items in the order.</p>
                <div class="divider"></div>
            </div>
        </div>

        <div class="flex flex-row">
            <div class="w-1/3 mx-2">
                <p class="break-all">status</p>
            </div>
            <div class="w-full pl-3 flex flex-col justify-center">
                <p class="font-light italic">String(Options: 'PENDING', 'CANCELLED', 'COMPLETED')</p>
                <p>Status of the order.</p>
                <div class="divider"></div>
            </div>
        </div>

        <div class="flex flex-row">
            <div class="w-1/3 mx-2">
                <p class="break-all">cart</p>
            </div>
            <div class="w-full pl-3 flex flex-col justify-center">
                <p class="font-light italic">Integer</p>
                <p>ID of the cart which contains the items for the order.</p>
                <div class="divider"></div>
            </div>
        </div>

        
    </div>
    
    <p class="text-xl mt-8">Request Schema:</p>
    <div class="flex flex-col border-1 px-1">

        <div class="flex flex-row">
            <div class="w-1/3 mx-2">
                <p class="break-all">cart</p>
                <p class="italic">(<span class="text-red-500">Required</span>)</p>
            </div>
            <div class="w-full pl-3 flex flex-col justify-center">
                <p class="font-light italic">Integer</p>
                <p>ID of the cart which contains the items for the order.</p>
                <div class="divider"></div>
            </div>
        </div>

    </div>
    

</div>
{% endblock %}