{% extends 'developer_auth/docs_base.html' %}

{% block title %}
    Create Category
{% endblock %}


{% block content %}

<div class="px-8">
    <div class="my-20 space-y-2"  id="cr-cat">
        <p class="text-2xl">Create a category</p>
        <div class="flex items-center">
            <p class="text-xl">URL: </p>
            <p class="bg-base-200 rounded-md p-2 mx-2 truncate font-mono font-semibold">
                <code>https://E-commerceAPI.com/api/products/categories/all/</code>
            </p>
        </div>
        <div class="flex items-center">
            <p class="text-xl">Methods: </p>
            <p class="bg-base-200 rounded-md p-2 mx-2  font-mono font-semibold">POST</p>
        </div>
        <p class="text-xl">Authentication: </p>
        
        <div class="mockup-code w-full mt-8">
            <pre><code class="font-light">API-KEY: &lt;YOUR_API_KEY&gt;</code></pre>
        </div>
        <p class="text-xl">Request Body: </p>
            <div class="mockup-code w-full bg-base-300 text-black mt-8">
                <pre>
                    <code>
    {
        "name": "pencil",
        "description": "Writing",
    }
                    </code>
                </pre>
        </div>
        <div class="mockup-window border-base-300 border">
            <div class="border-base-200 flex justify-center border-t px-4 py-16">
                {
                    "name": "pencil",
                    "description": "Writing",
                }  
            </div>
          </div>
          <div class="mockup-window bg-base-300" data-text="Python">
            <div class="bg-base-200 flex justify-center px-4 py-16">
                <pre>
                    <code>
    {
        "name": "pencil",
        "description": "Writing",
    }
                    </code>
                </pre>    
            </div>
          </div>
        <p class="text-xl">Response: </p>
        <div class="flex items-center">
            <p class="p-2 text-md">Status Code:<span class="bg-green-200 rounded-md p-2 mx-2 text-md font-semibold">201 Created</span></p>
        </div>
        <div class="mockup-code w-full bg-blue-400">
        <div class="collapse  collapse-arrow bg-inherit">
            <input type="checkbox" />
            <div class="collapse-title  text-md font-medium">Response Body</div>
            <div class="collapse-content overflow-auto">
                <pre>
                    <code>
    {
    "id": 1,
    "name": "pencil",
    "description": "Wrting",
    }                        
                    </code>
                </pre>
            </div>
        </div>
        </div>
    </div>
</div>
    {% with prev_page='category-overview' prev_page_name='Overview' next_page='category-get' next_page_name='Get category' %}
        
        {% include 'developer_auth/bottom_nav.html' %}

    {% endwith %}

{% endblock %}